.header-container{
    display: flex;
    height: 42px;
    justify-content: center;
    max-width: 100%;
    padding: 1%;
}

.header-container>input{
    border: none;
    border-bottom: 1px solid #999;
    width: 45%;
    margin: 0 4%;
}

.header-container>input:focus{
    outline: none;
}

.header-container>p{
    width: 124px;
    margin: 7% 8%;
    font-size: 18px;
}

.account-cart-container{
    display: flex;
}

.account-cart-container>div{
    display: flex;
    align-items: center;
}

.account-cart-container>div>img{
    width: 21px;
    height: 21px;
}